

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    transition: .2s;
}

.container {
	
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
	 height: 90vh;
}

.keyboard_wrapp {
    max-width: 1008px;
    width: 100%;
    background-color: #e7e7e7;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.row {
    display: flex;
}
.keyboard_keys {
	display: flex;
	flex-wrap: wrap;
	
}

.keys {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: .2s;
    z-index: 5;
	 &:nth-child(42){
		 width: 175px;
	 }
	 &:hover {
		 background-color: #808080;
		 cursor: pointer;
	 }
}

.backspace_key {
    width: 110px;
}

.tab_key {
    width: 	110px;
}

.shift_key {
	width: 65px;
}

.caps_lock_key {
    width: 120px;
}

.enter_key {
    width: 120px;
}

.shift_left {
    width: 195px;
}
.shift_right {
	width: 55px;
}
.up-arrow {
	width: 60px;
}

.space_key {
    max-width: 450px;
    width: 100%;
}

.text {
	
    max-width: 1008px;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 26px;
    background-color: #f7f7f7;
    padding-left: 10px;
    transition: .2s;
}

.keys.active {
    background-color: #333;
    color: #fff;
}

.keys.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}

body.active {
    background-color: rgb(54,54,54);
}




.keyboard_wrapp.active {
    background-color: #585858;
}

.keys.keys_night {
    background-color: #3c3c3c;
    color: #fff;
}

.text.active {
    background-color: #2b2b2b;
    color: #fff;
}

.keys.keys_night.active {
    background-color: #fff;
    color: #333;
}

.keys.keys_night.remove {
    animation: keys_night_animation 0.5s forwards;
}

@keyframes keys_night_animation {
    0%{
        background-color: #fff;
        color: #000;
    }
    100% {
        background-color: #333;
        color: #fff;
    }
}

.change_light_color {
    width: 100px;
    height: 50px;
    position: absolute;
    right: 150px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.keyboard_lights {
    position: absolute;
    width: 100%;
    height: 100%;
}

.actives {
	background-color: #2b2b2b;
	color: #fff;
}

.control_alt {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}